<%- include('../layouts/admin/header') -%>
<div class="mainContainer">
<div class="Containerr">
    <div class="leftimgContainer">
        <img src="https://i.ibb.co/bPCXs5M/1900x1900-000000-80-0-0.jpg" alt="sdfsd" srcset="">

    </div>
    <div class="rightContainer">
        <div class="rightinnerContainer">
            <div class="signuptext">
                <h1>Add new admin</h1>
            </div>
            <div class="signupform">
                <form action="/admin/addnewadmin" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" placeholder="Name" name="name" id="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" placeholder="Email" name="email" id="email " class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" placeholder="password" name="password" id="password " class="form-control">
                      
                    </div>
                    <% if (typeof message !== 'undefined') { %>
                        <div style="color:red;" id="message"><%= message %></div>
                      <% } %>
                      <% if (typeof success !== 'undefined') { %>
                        <div style="color:green;" id="success" ><%= success %></div>
                      <% } %>
                    <button type="submit" class="btn" value="Login">Create Admin</button>
                </form>
            </div>

        </div>

    </div>



</div>
</div>
<script>
    setInterval(() => {
        const successElement = document.getElementById('success');
        if (successElement) {
            setTimeout(() => {
                window.location.href='/admin/home'
            }, 200);
        } else {
            console.log('No message element found');
        }
    }, 1000);
   

</script>
<%- include('../layouts/admin/footer') -%>    